.nav { 
    display: inline-block;
    height: 100px;
    background-color: orangered;
}

.navitem { 
    display: inline-block;
    width: 150px;
    padding: 20px;
    margin: 2px;
    background-color: #cccccc;
    text-align: center;
} 

.left { 
    display: block;
    float: left;
}

.top { 
    width: 29%; 
    height: 500px;
    float: left;
    

}

.bottom { 
    width: 70%;
    height: 500px;
    float: left;
}
.tinyimage { 
    display: inline-block;

}

.mainbottom { 
    width: 500px;
    display: inline-block;

}

.bigimage { 
   width: ; 
}
